h1 {
	font-size: 5rem;
	font-weight: bold ;
}

.title-div a {
	color: blue!important;
}

.title-div {
	padding-bottom: 1.5rem;
	margin-top: 2rem;
}

@media (max-width: 480px) {
	.title-div {
		text-align: center;
	}

}